In [1]:
import pandas as pd
import numpy as np

In [9]:
raw_data = pd.read_csv("prostate_data.txt", sep="\t")
raw_data.head()

,col,lcavol,lweight,age,lbph,svi,lcp,gleason,pgg45,lpsa,train
0,1,-0.579818,2.769459,50,-1.386294,0,-1.386294,6,0,-0.430783,T
1,2,-0.994252,3.319626,58,-1.386294,0,-1.386294,6,0,-0.162519,T
2,3,-0.510826,2.691243,74,-1.386294,0,-1.386294,7,20,-0.162519,T
3,4,-1.203973,3.282789,58,-1.386294,0,-1.386294,6,0,-0.162519,T
4,5,0.751416,3.432373,62,-1.386294,0,-1.386294,6,0,0.371564,T

In [11]:
raw_data.columns

Index(['col', 'lcavol', 'lweight', 'age', 'lbph', 'svi', 'lcp', 'gleason',
       'pgg45', 'lpsa', 'train'],
      dtype='object')

On va prendre comme label la quantité d’expression de l’antigène qui est associée à la détection de ce cancer (la colonne lpsa du dataset)

In [16]:
X = raw_data.drop(["lpsa", "train"], axis=1)
y = raw_data[["lpsa"]]
X.head()

   col    lcavol   lweight  age      lbph  svi       lcp  gleason  pgg45
0    1 -0.579818  2.769459   50 -1.386294    0 -1.386294        6      0
1    2 -0.994252  3.319626   58 -1.386294    0 -1.386294        6      0
2    3 -0.510826  2.691243   74 -1.386294    0 -1.386294        7     20
3    4 -1.203973  3.282789   58 -1.386294    0 -1.386294        6      0
4    5  0.751416  3.432373   62 -1.386294    0 -1.386294        6      0

In [15]:
y.head()

       lpsa
0 -0.430783
1 -0.162519
2 -0.162519
3 -0.162519
4  0.371564